.powerPage{
    display: flex;
    flex-direction: row;
}

.power-KPI-container{
    /* Main KPIs */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24.58px;

    width: 1072px;
    height: 127.01px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 30px;
}

.power-KPI{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.46709px 21.1677px 25.4013px;
    gap: 7.13px;

    width: 265.87px;
    height: 127.01px;

    background: linear-gradient(107.08deg, rgba(29, 163, 239, 0.160784) 1.56%, rgba(91, 97, 215, 0.160784) 98.86%);
    box-shadow: 0px 0px 12.2909px #3881D5;
    border-radius: 12.7006px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0.71px solid;

    border: solid 1px white;
    box-shadow: 0px 0px 12.29px 0px #3881D5;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;

}

.power-KPI-main{
    /* Main KPI Card */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.33488px 7.33488px 7.33488px 11.0023px;

    width: 782px;
    height: 126.1px;

    /* Astrikos Menu Gradient */
    background: linear-gradient(107.08deg, rgba(29, 163, 239, 0.160784) 1.56%, rgba(91, 97, 215, 0.160784) 98.86%);
    box-shadow: 0px 0px 12.2909px #3881D5;
    backdrop-filter: blur(5.46986px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 11.7069px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    border: solid 1px white;
    box-shadow: 0px 0px 12.29px 0px #3881D5;
    justify-content: center;
    gap: 30px;
}

.power-KPI-body-text{
    font-family: 'roboto-Black';
    color: white;
    size: 22px;
} 

.power-KPI-body-text::after{
    height: 10px;
    width: 10px;
    content: "";
    background-color: #E6944F;
    position: absolute;
    border-radius: 50%;
    margin-left: 10px;
    transform: translateY(50%);
}

.power-KPI-body-value{
    font-family: 'roboto-Black';
    color:#A6CBF5;
    margin-left: 25px;
    size: 22px;
} 

.power-KPI-span1{

    width: 164px;
    height: 28px;

    font-family: 'roboto-Black';
    font-weight: 700;
    font-size: 25.4013px;
    line-height: 27px;
    /* or 107% */
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    /* Foundation /Surface - Dark Mode (Default)/S50 */
    color: #E8E7EB;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


}

.power-KPI-span2{
    /* Heading 3=Bold - Large */

width: 138.86px;
height: 42.34px;

font-family: 'roboto-Black';
font-style: normal;
font-weight: 500;
font-size: 37.162px;
line-height: 22px;
/* or 60% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

/* Foundation /Surface - Dark Mode (Default)/S50 */
color: #E8E7EB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.powerRepresentations{
    background-color: none;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 30px;
 
}

.powerVisual{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.svgHighlighter{
    /* KPI Card */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.65503px;
    gap: 4.76px;

    width: 131.15px;
    height: 132.45px;

    /* Astrikos Menu Gradient */
    background: linear-gradient(107.08deg, rgba(29, 163, 239, 0.160784) 1.56%, rgba(91, 97, 215, 0.160784) 98.86%);
    box-shadow: 0px 0px 12.2909px #54FF97;
    backdrop-filter: blur(3.30514px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12.5299px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.svgHighlighter > span{
    font-size: 17px;
    font-family: 'roboto-Black';
    color: white;
    margin-top: 3px;
}

.powerRepresentations{
    width: 1072.73px;
    position: relative;
}

.powerCardBody{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7.72647px 7.72647px 7.72647px 11.5897px;
    width: 917px;
    height: 132.82px;
    background: linear-gradient(107.08deg, rgba(29, 163, 239, 0.160784) 1.56%, rgba(91, 97, 215, 0.160784) 98.86%);
    box-shadow: 0px 0px 12.2909px #54FF97;
    backdrop-filter: blur(5.76188px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12.3319px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: solid 1px white;
    gap: 10px;
}

.powerCardBody:hover{
   
}


.power-card-metric{
    display: flex;
    flex-direction: column;
    font-family: 'roboto-regular';
}

.power-card-metric > .title{
    font-size: 18px;
    font-family: 'roboto-black';
    color: white;
}

.power-card-metric > .status{
    font-size: 12px;
    font-family: 'roboto-regular';
    color: white;
}

.power-card-metric > .status::before{
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #04DB9B;
    position: absolute;
    transform: translate(-150%, 50%);
}

.power-card-metric > .battery-representation{
  background-color: #54FF97;
  border-radius: 15px;
  font-family: 'roboto-black';
  height: 42.59px;
  width: 137.99px;
  font-size: 27px;
  text-align: center;
  font-family: 'roboto-medium';
  border: solid 0.5px white;
  margin-top: 10px;
}


.power-card-recomendation{
    font-family: 'roboto-medium';
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
    gap: 10px;

}

.power-card-recomendation > .alerts > .value{
    margin-left: 20px;
}

.power-card-recomendation > .alerts > .value::before{
    content: "";
    height: 10px;
    width: 10px;
    background-color: #E6944F;
    position: absolute;
    border-radius: 50%;
    transform: translate(-150%, 60%);
}

.power-card-recomendation >.title{
    font-size: 18px;
    font-family: 'roboto-black';
}

.power-card-metric > .alerts{
    color: white;
    font-family: 'roboto-medium';
}

.power-card-metric > .recomendations{
    color: white;
    font-family: 'roboto-medium';
    background-color: blueviolet;
}

.powerRightPanel{
    /* Frame 2326 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px;
gap: 22px;
width: 675px;
height: 791px;
left: 1240px;
top: 268px;
border-radius: 20px;
border: solid 1px rgb(110, 110, 110);
margin: 30px;
margin-left: 15px;
}

.accordian{
    /* Accordian */


/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5.36347px;
gap: 5.36px;

width: 635px;
height: 29px;

/* Menu Linear Gradient */
background: linear-gradient(90deg, rgba(49, 40, 74, 0.48) 0%, rgba(137, 124, 189, 0.216) 48.5%, rgba(58, 48, 86, 0.48) 100%);
border-radius: 3.36437px 3.36437px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
color: white;
align-items: center;
}

.orangeDot{
        /* Ellipse 13 */

    width: 10px;
    height: 10px;

    /* Foundation /Secondary-3/secondary-3-500 */
    background: #E6944F;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;

}

.power-real-time{
    padding: 10px 0px;
    gap: 19.71px;
    width: 306px;
    height: 691px;
    left: 0px;
    top: 4px;
    border: solid 1px white;
    position: relative;
    box-shadow: 0px 0px 12.29px 0px #04DB9B;
    border-radius: 20px;
}

.power-real-time > .card-header{
    display: flex;
    flex-direction: row;
    gap:20px;
    height: 36px;
    align-items: center;
    margin-left: 30px;
    margin-top: 10px;
}

.power-real-time > .card-header > span{
    font-family: 'roboto-black';
    font-size: 29px;
    color: white;
    align-items: center;
}

.power-real-time > .card-header > svg{
    font-family: 'roboto-black';
    font-size: 29px;
    color: white;  
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
}

.power-visalizer-card{
    display: flex;
    flex-direction: column;

    padding: 0px;

    width: 267.56px;
    height: 169.3px;

    /* Blur - S */
    box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    border: solid 1px white;
    position: relative;
    border-radius: 3.36px 3.36px 0px 0px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.power-visalizer-card > .header{
    align-items: center;
    margin-top: 10px ;
}

.power-visalizer-card > .header > span{
    font-size: 14px;
    color: white;
    font-family: 'roboto-medium';
    font-size: 18px;

}

.power-visalizer-card > div > .recomendation-text{
    color: white;
    margin-left: 5px;
    font-family: 'roboto-medium';
}

.UPS-boxShadow{
    box-shadow: 0px 0px 12.29px 0px #54FF97;
    border: solid 0.3px rgb(183, 181, 181);
}

.PDU-boxShadow{
    box-shadow: 0px 0px 12.29px 0px #FDF303;
    border: solid 0.3px rgb(183, 181, 181);
}


.DG-boxShadow{
    box-shadow: 0px 0px 12.29px 0px #FF3333;
    border: solid 0.3px rgb(183, 181, 181);
}

.ESS-boxShadow{
    box-shadow: 0px 0px 12.29px 0px #E6944F;
    border: solid 0.3px rgb(183, 181, 181);
}

